/* Default variable reference */
:root {
  --black-color: #000;
  --white-color: #fff;
  --main-color: rgb(10, 173, 10);
  --main-color2: #0aad0a;
  --main-color3: rgb(10, 163, 10);
  --support-color: #fb175f;
  --gray-color: rgb(114, 118, 126);
  --gray-color2: #f4f4f4;
  --light-gray: rgb(232, 233, 235);
  --box-shadow: rgb(0 0 0 / 16%) 0px 2px 8px;
  --green-gradient: linear-gradient(
    to right,
    rgba(0, 128, 0, 0.7),
    rgba(0, 128, 0, 0.5)
  );
  --light-green-gradient: linear-gradient(
    to right,
    rgba(0, 128, 0, 0.2),
    rgba(0, 128, 0, 0.1)
  );
  --transition: 0.5s cubic-bezier(0.545, 0.03, 0.395, 0.965),
    border-color 0.5s cubic-bezier(0.545, 0.03, 0.395, 0.965);
}

/* Default variable reference */

/*  ====== Page resets starts here ====== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/*  ====== Page resets ends here ====== */

/* ====== Utility classes section starts here ======*/
.flex-container {
  display: flex;
}
.btn {
  padding: 0.5rem 0.93rem;
  cursor: pointer;
}

.btn i {
  margin-left: 0.5rem;
  transition: margin 0.3s ease;
}

.btn:hover i {
  margin-left: 0.62rem;
}

.btn-main {
  background: var(--support-color);
  color: var(--white-color);
  border: 0.12rem solid transparent;
  border-radius: 0.31rem;
  font-weight: 600;
}

.btn-main:hover {
  background: transparent;
  border: 0.12rem solid var(--support-color);
}
.main-section-tittle {
  display: flex;
  justify-content: center;
  font-size: 1.56rem;
  font-weight: 700;
  position: relative;
  margin-bottom: 1.25rem;
  padding-bottom: 0.25rem;
}

.main-section-tittle + p {
  line-height: 1.8;
}

.main-section-tittle::after {
  content: "";
  position: absolute;
  width: 6.25rem;
  height: 0.18rem;
  background: var(--support-color);
  bottom: -5px;
  transition: width 0.3s ease;
}

.main-section-tittle:hover::after {
  width: 9.375rem;
}

.section-tittles {
  font-size: 1.56rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 1.87rem;
  position: relative;
  padding-left: 1.25rem;
}

.section-tittles::before {
  content: "";
  background: var(--support-color);
  width: 0.62rem;
  height: 100%;
  position: absolute;
  left: 0;
}

.section-tittles::after {
  display: none;
  content: "";
  background: var(--support-color);
  width: 6.25rem;
  height: 3px;
  position: absolute;
  right: 0;
}

/* ====== Utility classes section ends here ======*/

/* ====== Header section starts here ====== */
.header-nav {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 16;
  transition: all 0.5s ease;
  background: var(--green-gradient);
}
.brand-container {
  padding: 0 1.875rem;
}
.header-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-nav-sticky {
  background: var(--main-color);
}

.header-nav .brand {
  display: flex;
  justify-content: space-between;
  background: transparent;
}

.brand-logo {
  color: var(--support-color);
  font-size: 2.18rem;
}

.brand-title {
  color: var(--white-color);
  font-size: 1.87rem;
}

.brand-title span {
  color: var(--support-color);
}
.desktop-nav-container {
  list-style: none;
  display: flex;
  align-items: center;
}

.desktop-nav-container a {
  display: block;
  padding: 0.93rem 0px;
  color: var(--white-color);
}

.desktop-nav-container li {
  margin: 0 1.25rem;
  position: relative;
  text-align: center;
}

.desktop-nav-container li::after {
  content: "";
  width: 0px;
  height: 0.18rem;
  background: var(--support-color);
  position: absolute;
  left: 0;
  right: 0;
  top: 65%;
  transition: all 0.4s ease-out;
}

.desktop-nav-container li:hover:after {
  width: 100%;
}

.mobile-nav-container {
  z-index: 70;
  list-style: none;
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  top: 100%;
  transform: translateY(-0.62rem);
  visibility: hidden;
  transition: all 0.1s ease;
  background: var(--main-color2);
}

.mobile-nav-container a{
  display: block;
  padding: 0.93rem 1.25rem;
  color: var(--white-color);
}
.mobile-nav-container button {
  margin: 0 1.25rem;

}

.mobile-nav-container a:focus {
  background: var(--support-color);
}

.show-mobile-navcontainer {
  z-index: 70;
  transform: translateY(0);
  visibility: visible;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  background: var(--light-green-gradient);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.showbackdrop {
  display: block;
}
.header-banner {
  min-height: 28.75rem;
  padding: 3.12rem 0;
  position: relative;
  background-attachment: fixed;
  background: var(--green-gradient), url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
}

.header-info {
  padding: 6.12rem 1.875rem 2rem 1.875rem;
}
.header-info h1 {
  font-size: 3.23rem;
  color: var(--white-color);
  font-weight: 600;
  line-height: 1.1;
}

.header-info span {
  color: var(--support-color);
}

.header-info p {
  color: var(--white-color);
  margin: 1.87rem 0;
  line-height: 1.7;
  width: 50%;
}

/* Animated Hamburger menu starts here */

.hamburger {
  width: 3.43rem;
  height: 3.43rem;
  background: var(--support-color);
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: var(--box-shadow);
  z-index: 6;
}

.hamburger:hover .bars::before,
.hamburger:hover .bars::after {
  transition: transform 0.3s ease;
}

.hamburger:hover .bars::before {
  transform: translateY(-0.62rem);
}

.hamburger:hover .bars::after {
  transform: translateY(0.62rem);
}

.bars {
  background: #fff;
  height: 0.18rem;
  width: 60%;
  position: relative;
  display: flex;
  justify-content: center;
  transition: transform 0.4s ease;
}

.bars::before {
  content: "";
  width: 80%;
  height: 0.18rem;
  background: #fff;
  position: absolute;
  transform: translateY(-0.5rem);
}

.bars::after {
  content: "";
  width: 80%;
  height: 0.18rem;
  background: #fff;
  position: absolute;
  transform: translateY(0.5rem);
}

.crossburger {
  background: black;
}

.crossburger .bars {
  background: transparent;
  transform: rotate(180deg);
}

.crossburger .bars::before {
  transform: translateY(0px) rotate(45deg) !important;
}

.crossburger .bars::after {
  transform: translateY(0px) rotate(-45deg) !important;
}

/* Animated Hamburger menu ends here */
/* ====== Header section ends here ====== */